<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "esphera.cochez.wishlist"
        version   = "1.0.0">

    <name>Cochez Wishlist</name>

    <description>
        Creacion y administracion de wishlist Cochez y cia
    </description>

    <author href="https://www.espherasoluciones.com" email="lsanchez@espherasoluciones.com">
        Ing. Luis Ricardo Sanchez Tenas
    </author>

    <!-- Core plugins -->
    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version" value="3.3.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
    <!-- Plugins -->

    <!-- Define app icon for each platform. -->
    <icon src="images/icon.png" />
    <icon src="images/icon.png"   	gap:platform="android"    gap:density="ldpi" />
    <icon src="images/icon.png"   	gap:platform="android"    gap:density="mdpi" />
    <icon src="images/icon.png"   	gap:platform="android"    gap:density="hdpi" />
    <icon src="images/icon.png"  	gap:platform="android"    gap:density="xhdpi" />
    <icon src="images/icon.png"     gap:platform="blackberry" />
    <icon src="images/icon.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="images/icon.png"     gap:platform="ios"        width="57" height="57" />
    <icon src="images/icon.png"     gap:platform="ios"        width="72" height="72" />
    <icon src="images/icon.png"     gap:platform="ios"        width="114" height="114" />
    <icon src="images/icon.png"     gap:platform="ios"        width="144" height="144" />
    <icon src="images/icon.png"     gap:platform="webos" />
    <icon src="images/icon.png"  	gap:platform="winphone" />
    <icon src="images/icon.png"		gap:platform="winphone"   gap:role="background" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="images/cochezlogo.png"  	gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/cochezlogo.png"  	gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/cochezlogo.png"  	gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/cochezlogo.png" 	gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="images/cochezlogo.png"     gap:platform="blackberry" />
    <gap:splash src="images/cochezlogo.png"    	gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/cochezlogo.png" 	gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/cochezlogo.png"     gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="images/cochezlogo.png"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="images/cochezlogo.png" 	gap:platform="winphone" />

    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/> <!-- allow local pages -->
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    -->

</widget>
